In [42]:
import pandas as pd
data = pd.read_csv('adult.csv')

In [43]:
data['gender'] = data['gender'].replace(0,'Male')
data['gender'] = data['gender'].replace(1,'Female')
data['gender']
data.to_csv('adult.csv')

In [36]:
data = data.astype(str)
data = data.values.tolist()

In [37]:
!pip install apyori
from apyori import apriori

Requirement already satisfied: apyori in /opt/anaconda3/lib/python3.7/site-packages (1.1.2)

In [38]:
rules = list(apriori(data, min_support = 0.2, min_confidence = 0.9))
rules

[RelationRecord(items=frozenset({'20-30', '<=50K'}), support=0.22837964069254665, ordered_statistics=[OrderedStatistic(items_base=frozenset({'20-30'}), items_add=frozenset({'<=50K'}), confidence=0.9152084965613302, lift=1.2172370842277807)]),
 RelationRecord(items=frozenset({'White', '40-60'}), support=0.2469098255599244, ordered_statistics=[OrderedStatistic(items_base=frozenset({'40-60'}), items_add=frozenset({'White'}), confidence=0.9163911956784649, lift=1.0694715523442546)]),
 RelationRecord(items=frozenset({'Never-married', '<=50K'}), support=0.3074533486846393, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Never-married'}), items_add=frozenset({'<=50K'}), confidence=0.9514621848739496, lift=1.2654548772443017)]),
 RelationRecord(items=frozenset({'White', '>50K'}), support=0.22520800295440227, ordered_statistics=[OrderedStatistic(items_base=frozenset({'>50K'}), items_add=frozenset({'White'}), confidence=0.90763438977412, lift=1.0592519486987138)]),
 RelationRecord(items=frozenset({'Female', '<=50K', '20-40'}), support=0.20383203354115526, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Female', '20-40'}), items_add=frozenset({'<=50K'}), confidence=0.9016046891515327, lift=1.1991438749447432)]),
 RelationRecord(items=frozenset({'Never-married', '<=50K', '20-40'}), support=0.20350618034888016, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Never-married', '20-40'}), items_add=frozenset({'<=50K'}), confidence=0.9688695832040543, lift=1.2886069031126588)]),
 RelationRecord(items=frozenset({'White', '40-60', 'Male'}), support=0.20394065127191363, ordered_statistics=[OrderedStatistic(items_base=frozenset({'40-60', 'Male'}), items_add=frozenset({'White'}), confidence=0.9274846868207864, lift=1.0824181773760588)]),
 RelationRecord(items=frozenset({'Female', '<=50K', 'Private'}), support=0.22818412877718158, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Female', 'Private'}), items_add=frozenset({'<=50K'}), confidence=0.9055953099405122, lift=1.2044514432547917)]),
 RelationRecord(items=frozenset({'Never-married', '<=50K', 'Private'}), support=0.2553602850129255, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Never-married', 'Private'}), items_add=frozenset({'<=50K'}), confidence=0.9601404884423753, lift=1.2769971137634817)]),
 RelationRecord(items=frozenset({'Never-married', '<=50K', 'White'}), support=0.25177589989789934, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Never-married', 'White'}), items_add=frozenset({'<=50K'}), confidence=0.9478246647039581, lift=1.2606169365322384)]),
 RelationRecord(items=frozenset({'White', 'Male', 'Married-civ-spouse'}), support=0.376794908000782, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Male', 'Married-civ-spouse'}), items_add=frozenset({'White'}), confidence=0.9041859980190793, lift=1.0552275136094786), OrderedStatistic(items_base=frozenset({'White', 'Married-civ-spouse'}), items_add=frozenset({'Male'}), confidence=0.9020229861147225, lift=1.334538282439385)]),
 RelationRecord(items=frozenset({'White', '<=50K', 'Male', 'Married-civ-spouse'}), support=0.20372341581039688, ordered_statistics=[OrderedStatistic(items_base=frozenset({'White', '<=50K', 'Married-civ-spouse'}), items_add=frozenset({'Male'}), confidence=0.9067001836991202, lift=1.341458171762602)]),
 RelationRecord(items=frozenset({'Never-married', '<=50K', 'White', 'Private'}), support=0.2107618447635392, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Never-married', 'White', 'Private'}), items_add=frozenset({'<=50K'}), confidence=0.9573712255772647, lift=1.2733139645487916)]),
 RelationRecord(items=frozenset({'White', 'Male', 'Married-civ-spouse', 'Private'}), support=0.2525362240132079, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Male', 'Married-civ-spouse', 'Private'}), items_add=frozenset({'White'}), confidence=0.902702282963193, lift=1.053495948474918)])]

In [39]:
result = pd.DataFrame()
for item in rules:
    series = pd.Series({'Rule':item[0],"Support":item[1],"Confidence":item[2][0][2]})
    result = result.append(series, ignore_index = True)

In [40]:
result = result.sort_values(by = ['Confidence'], ascending = False)
result

    Confidence                                        Rule   Support
5     0.968870               (Never-married, <=50K, 20-40)  0.203506
8     0.960140             (Never-married, <=50K, Private)  0.255360
12    0.957371      (Never-married, <=50K, White, Private)  0.210762
2     0.951462                      (Never-married, <=50K)  0.307453
9     0.947825               (Never-married, <=50K, White)  0.251776
6     0.927485                        (White, 40-60, Male)  0.203941
1     0.916391                              (White, 40-60)  0.246910
0     0.915208                              (20-30, <=50K)  0.228380
3     0.907634                               (White, >50K)  0.225208
11    0.906700    (White, <=50K, Male, Married-civ-spouse)  0.203723
7     0.905595                    (Female, <=50K, Private)  0.228184
10    0.904186           (White, Male, Married-civ-spouse)  0.376795
13    0.902702  (White, Male, Married-civ-spouse, Private)  0.252536
4     0.901605                      (Female, <=50K, 20-40)  0.203832

In [41]:
result[:5]

    Confidence                                    Rule   Support
5     0.968870           (Never-married, <=50K, 20-40)  0.203506
8     0.960140         (Never-married, <=50K, Private)  0.255360
12    0.957371  (Never-married, <=50K, White, Private)  0.210762
2     0.951462                  (Never-married, <=50K)  0.307453
9     0.947825           (Never-married, <=50K, White)  0.251776